@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

Image {
  filter: gray;
  -webkit-filter: grayscale(1);
}

.fjac {
  display: flex;
  justify-content: center;
  align-items: center;
}
