@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

Image {
  filter: gray;
  -webkit-filter: grayscale(1);
}
/*@media (prefers-color-scheme: dark) {
  body {
    background-color: red;
  }
}*/
